In [7]:
import time, json, glob, os
from py2neo import Graph, Node, Relationship
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
sns.set(color_codes=True)
%matplotlib inline

In [8]:
graph = Graph( "bolt://matlaber10.media.mit.edu:7687", auth=('neo4j','myneo'))
print("Connected to graph database with {:,} nodes and {:,} relationships!".format(
    graph.database.primitive_counts['NumberOfNodeIdsInUse'], 
    graph.database.primitive_counts['NumberOfRelationshipIdsInUse']))

Connected to graph database with 278,590,931 nodes and 1,844,902,937 relationships!

In [9]:
def query_to_df(query, graph):
    print("Starting query...", end=" ")
    query_start_time = time.time()
    df = graph.run(query).to_data_frame()
    print("Done ({:.2f} minutes).".format((time.time()-query_start_time)/60))
    return df
    
top_5 = ['Cell', 'Nature', 'Nature Biotechnology','Proceedings of the National Academy of Sciences of the United States of America','Science']
top_10 = ['Cell', 'Nature', 'Nature Biotechnology','Proceedings of the National Academy of Sciences of the United States of America','Science', 'Journal of the American Chemical Society', 'JAMA', 'The New England Journal of Medicine', 'Nature Genetics', 'Neuron']
top_42 = ['Angewandte Chemie','Blood','Cancer Cell','Cancer Discovery','Cancer Research','Cell','Cell Host & Microbe','Cell Metabolism','Cell Stem Cell','Chemistry & Biology','The EMBO Journal','Genes & Development','Immunity','Journal of Neurology','Journal of the American Chemical Society','JAMA','Journal of Biological Chemistry','Journal of Cell Biology','Journal of Clinical Investigation','Journal of Experimental Medicine','Journal of Medicinal Chemistry','The Lancet','Nature Cell Biology','Nature Chemical Biology','Nature Chemistry','Nature Medicine','Nature Methods','Nature','Nature Biotechnology','The New England Journal of Medicine','Neuron','Nature Genetics','Nature Immunology','Nature Neuroscience','Nature Structural & Molecular Biology','PLOS Biology','PLOS Genetics','PLOS Pathogens','Proceedings of the National Academy of Sciences of the United States of America','Science Signaling','Science Translational Medicine','Science']

In [15]:
query = """
MATCH (q:Quanta)
WHERE q.venue in {} AND exists(q.Disruption)
RETURN 
    q.Disruption as disruption
""".format(top_42)
df = query_to_df(query, graph)

Starting query... Done (0.61 minutes).

In [16]:
df

        disruption
0             None
1             None
2             None
3             None
4             None
5             None
6             None
7             None
8             None
9             None
10            None
11            None
12            None
13            None
14            None
15            None
16            None
17            None
18            None
19            None
20            None
21            None
22            None
23            None
24            None
25            None
26            None
27            None
28            None
29            None
...            ...
2037892       None
2037893       None
2037894       None
2037895       None
2037896       None
2037897       None
2037898       None
2037899       None
2037900       None
2037901       None
2037902       None
2037903       None
2037904       None
2037905       None
2037906       None
2037907       None
2037908       None
2037909       None
2037910       None
2037911       None
2037912       None
2037913       None
2037914       None
2037915       None
2037916       None
2037917       None
2037918       None
2037919       None
2037920       None
2037921       None

[2037922 rows x 1 columns]

In [ ]:
df.to_csv('C:\\Users\\Brend\\Downloads\\Disruption_ArticleLevel.csv', index = False, encoding = "UTF-8")

In [ ]:
col = 'disruption'
df_plot = df[pd.notna(df[col])]
ax = sns.distplot(df_not_null[[col]], kde = False, axlabel = col, bins = 100)
plot.show()