In [1]:
import time
import json
import math
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from py2neo import Graph, Node, Relationship
%matplotlib inline

In [2]:
def query_to_df(query, graph):
    print("Starting query...", end=" ")
    query_start_time = time.time()
    df = graph.run(query).to_data_frame()
    print("Done ({:.2f} minutes).".format((time.time()-query_start_time)/60))
    return df

In [3]:
graph = Graph( "bolt://matlaber10.media.mit.edu:7687", auth=('neo4j','myneo'))
print("Connected to graph database with {:,} nodes and {:,} relationships!".format(
    graph.database.primitive_counts['NumberOfNodeIdsInUse'], 
    graph.database.primitive_counts['NumberOfRelationshipIdsInUse']))

Connected to graph database with 278,590,931 nodes and 1,844,902,937 relationships!

#### Community focus

In [ ]:
query = """call apoc.export.csv.query("

// denominator

MATCH (u:NatureAuthor)

MATCH (u)-[e:COAUTHOR]-(b:NatureAuthor)

WITH e.strength AS weight, u, COUNT(b) AS k_u

WITH u, toFloat(sum(weight*k_u))/sum(k_u) AS den



// intracommunity focus

OPTIONAL MATCH (u)-[e:COAUTHOR]-(b:NatureAuthor)

WHERE last(b.louvain) = last(u.louvain)

WITH den, u, COUNT(b) AS k_intra_u, CASE WHEN e IS NULL THEN 0 ELSE e.strength END AS weight

WITH den, u, CASE WHEN sum(k_intra_u)=0 THEN 0 ELSE toFloat(sum(weight*k_intra_u))/sum(k_intra_u) END AS num

WITH den, u, CASE WHEN den=0 THEN 0 ELSE num/den END AS NatureIntraCommunityFocus

WITH den, u, NatureIntraCommunityFocus



// intercommunity focus

OPTIONAL MATCH (u)-[e:COAUTHOR]-(b:NatureAuthor)

WHERE last(b.louvain) <> last(u.louvain)

WITH den, u, NatureIntraCommunityFocus, COUNT(b) AS k_inter_u, CASE WHEN e IS NULL THEN 0 ELSE e.strength END AS weight

WITH den, u, NatureIntraCommunityFocus, CASE WHEN sum(k_inter_u)=0 THEN 0 ELSE toFloat(sum(weight*k_inter_u))/sum(k_inter_u) END AS num

WITH u, NatureIntraCommunityFocus, CASE WHEN den=0 THEN 0 ELSE num/den END AS NatureInterCommunityFocus



RETURN u.name, NatureIntraCommunityFocus, NatureInterCommunityFocus

","/import/result/author_focus.csv",{})"""

df_community_focus = query_to_df(query, graph)

#### Professor connections

In [ ]:
#Augment nodes with pct_last_author
query = """call apoc.periodic.iterate(
"MATCH (a:Top42Author) RETURN a",
"MATCH (a)-[r:AUTHORED]->(:Quanta)
WITH a, toFloat(SUM(CASE WHEN r.is_last_author THEN 1 ELSE 0 END))/COUNT(r) as pct_last_author
SET a.pct_last_author = pct_last_author", {batchSize:100, parallel:true})
"""

df_last_author = query_to_df(query, graph)

In [ ]:
query = """
    MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
    WITH a, COUNT(q) AS num_pubs
    MATCH (a)-[:AUTHORED]-(q:Quanta)-[:AUTHORED]-(b:NatureAuthor)
    WHERE b.pct_last_author > .5
    WITH a, num_pubs, COUNT(distinct q) as num_coauthored_with_prof
    RETURN a.name AS name, num_coauthored_with_prof as num_pubs_with_prof, num_pubs, toFloat(num_coauthored_with_prof)/num_pubs AS ratio_pubs_with_prof
"""
profs_per_paper = query_to_df(query, graph)

In [ ]:
profs_per_paper

In [ ]:
profs_per_paper.to_csv('C:\\Users\\Brend\\Downloads\\paper.csv', index = False, encoding = "UTF-8")

In [ ]:
#Ratio of prof-prof connected papers
#WORKING
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
WITH a, COUNT(q) AS num_pubs
MATCH (a)-[r:COAUTHOR]-(b:NatureAuthor)
WHERE b.pct_last_author > .5
WITH a, num_pubs, SUM(r.strength42) as num_coauthored_with_prof
RETURN a.name AS name, num_coauthored_with_prof as prof_connections, num_pubs, toFloat(num_coauthored_with_prof)/num_pubs AS coauthor_profs_ratio"""

df_coauthor_profs_ratio = query_to_df(query, graph)

In [ ]:
df_coauthor_papers_ratio.sort_values('coauthor_profs_ratio', ascending=False).tail(10)

In [ ]:
df_coauthor_profs_ratio.to_csv('C:\\Users\\Brend\\Downloads\\coauthor_profs_ratio.csv', index = False, encoding = "UTF-8")

#### Cross-cluster edges

In [ ]:
#Ratio of cross-cluster and intra-cluster edges to total edges
#WORKING
query = """
MATCH (u:NatureAuthor)
MATCH (u)-[e:COAUTHOR]-(b:NatureAuthor)
WITH u, COUNT(b) AS k_u
WITH u, k_u AS den

// intracommunity edges
OPTIONAL MATCH (u)-[e:COAUTHOR]-(b:NatureAuthor)
WHERE last(b.louvain) = last(u.louvain)
WITH den, u, COUNT(b) AS k_intra_u
WITH den, u, k_intra_u AS IntraClusterConns, CASE WHEN den=0 THEN 0 ELSE toFloat(k_intra_u)/den END AS IntraClusterRatio
WITH den, u, IntraClusterRatio, IntraClusterConns, 1.0 - IntraClusterRatio AS InterClusterRatio

RETURN u.name AS name, IntraClusterRatio, InterClusterRatio, den AS TotalConns, IntraClusterConns, den - IntraClusterConns AS InterClusterConns
"""

df_clusters = query_to_df(query, graph)

In [ ]:
df_clusters.head(15)

In [ ]:
df_clusters.to_csv('C:\\Users\\Brend\\Downloads\\clusters.csv', index = False, encoding = "UTF-8")

#### Preparing metrics csv

In [ ]:
df_clusters = pd.read_csv('C:\\Users\\Brend\\Downloads\\clusters.csv', index_col = 'name', encoding = "UTF-8")

In [ ]:
df_papers = pd.read_csv('C:\\Users\\Brend\\Downloads\\papers.csv', index_col = 'name', encoding = "UTF-8")

In [ ]:
df_profs = pd.read_csv('C:\\Users\\Brend\\Downloads\\profs.csv', index_col = 'name', encoding = 'UTF-8')

In [ ]:
df_profs_papers = df_profs.join(df_papers[['num_pubs_with_prof', 'ratio_pubs_with_prof']], how = 'outer')

In [ ]:
df_all = df_profs_papers.join(df_clusters, how = 'outer')

In [ ]:
df_author_focus = pd.read_csv('C:\\Users\\Brend\\Downloads\\author_focus.csv', index_col = 'name', encoding = 'UTF-8')

In [ ]:
df_all = df_all.join(df_author_focus, how = 'outer')

In [ ]:
df_all.to_csv('C:\\Users\\Brend\\Downloads\\metrics.csv', encoding = "UTF-8")

#### All metrics

In [ ]:
df_metrics = pd.read_csv('C:\\Users\\Brend\\Downloads\\metrics.csv', index_col = 'name', encoding = "UTF-8")

In [ ]:
import random
indices = []
for i in range(10):
    indices.append(random.randrange(0, df_metrics.shape[0]))
df_metrics.iloc[indices]

#### Impact

In [ ]:
#    CALL algo.pageRank(
#     'MATCH (p:Quanta {venue:"Nature"}) RETURN id(p) as id',
#     'MATCH (p1:Quanta {venue:"Nature"})-[:CITES]->(p2:Quanta {venue:"Nature"}) RETURN id(p1) as source, id(p2) as target',
#     {graph:'cypher', iterations:35, write:true, writeProperty:"npr"});

In [ ]:
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
WHERE q.venue = 'Nature'
WITH a, COUNT(q) AS num_pubs, SUM(q.npr) AS tot_rank, MIN(q.npr) AS min_rank, MAX(q.npr) AS max_rank, percentileCont(q.npr, 0.5) AS median_rank 
RETURN a.name AS name, num_pubs, toFloat(tot_rank)/num_pubs AS avg_NPR, min_rank AS min_NPR, max_rank AS max_NPR, median_rank AS median_NPR
"""

df_npr = query_to_df(query, graph)

In [ ]:
df_npr.head(2)

In [ ]:
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
WHERE q.venue = 'Nature'
WITH a, COUNT(q) AS num_pubs, SUM(q.nar) AS tot_rank, MIN(q.nar) AS min_rank, MAX(q.nar) AS max_rank, percentileCont(q.nar, 0.5) AS median_rank 
RETURN a.name AS name, num_pubs, toFloat(tot_rank)/num_pubs AS avg_NAR, min_rank AS min_NAR, max_rank AS max_NAR, median_rank AS median_NAR
"""

df_nar = query_to_df(query, graph)

In [ ]:
df_nar.head(2)

In [ ]:
df_npr.to_csv('C:\\Users\\Brend\\Downloads\\npr.csv', index = False, encoding = "UTF-8")
df_nar.to_csv('C:\\Users\\Brend\\Downloads\\nar.csv', index = False, encoding = "UTF-8")

In [ ]:
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
WHERE q.venue = 'Nature'
WITH a, COUNT(q) AS num_pubs, SUM(q.pageRank_2018) AS tot_rank, MIN(q.pageRank_2018) AS min_rank, MAX(q.pageRank_2018) AS max_rank, percentileCont(q.pageRank_2018, 0.5) AS median_rank 
RETURN a.name AS name, num_pubs, toFloat(tot_rank)/num_pubs AS avg_PR, min_rank AS min_PR, max_rank AS max_PR, median_rank AS median_PR
"""

df_pr = query_to_df(query, graph)

In [ ]:
df_pr.head(2)

In [ ]:
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
WHERE q.venue = 'Nature'
WITH a, COUNT(q) AS num_pubs, SUM(q.articleRank2018) AS tot_rank, MIN(q.articleRank2018) AS min_rank, MAX(q.articleRank2018) AS max_rank, percentileCont(q.articleRank2018, 0.5) AS median_rank 
RETURN a.name AS name, num_pubs, toFloat(tot_rank)/num_pubs AS avg_AR, min_rank AS min_AR, max_rank AS max_AR, median_rank AS median_AR
"""

df_ar = query_to_df(query, graph)

In [ ]:
df_ar.head(2)

In [ ]:
df_pr.to_csv('C:\\Users\\Brend\\Downloads\\pr.csv', index = False, encoding = "UTF-8")
df_ar.to_csv('C:\\Users\\Brend\\Downloads\\ar.csv', index = False, encoding = "UTF-8")

In [ ]:
df_npr = pd.read_csv('C:\\Users\\Brend\\Downloads\\npr.csv', index_col = 'name', encoding = "UTF-8")
df_nar = pd.read_csv('C:\\Users\\Brend\\Downloads\\nar.csv', index_col = 'name', encoding = "UTF-8")
df_pr = pd.read_csv('C:\\Users\\Brend\\Downloads\\pr.csv', index_col = 'name', encoding = "UTF-8")
df_ar = pd.read_csv('C:\\Users\\Brend\\Downloads\\ar.csv', index_col = 'name', encoding = "UTF-8")

In [ ]:
df_npr = df_npr[[col for col in df_npr.columns if col != 'num_pubs']]
df_nar = df_nar[[col for col in df_nar.columns if col != 'num_pubs']]
df_pr = df_pr[[col for col in df_pr.columns if col != 'num_pubs']]
df_ar = df_ar[[col for col in df_ar.columns if col != 'num_pubs']]

In [ ]:
df_imp = df_npr.join(df_nar, how = 'outer')
df_imp = df_imp.join(df_pr, how = 'outer')
df_imp = df_imp.join(df_ar, how = 'outer')

In [ ]:
df_imp.to_csv('C:\\Users\\Brend\\Downloads\\impact.csv', encoding = "UTF-8")

#### Collaboration vs Impact

In [ ]:
df_collab = pd.read_csv('C:\\Users\\Brend\\Downloads\\metrics.csv', index_col = 'name', encoding = "UTF-8")
df_impact = pd.read_csv('C:\\Users\\Brend\\Downloads\\impact.csv', index_col = 'name', encoding = "UTF-8")
df_all = df_collab.join(df_impact, how = 'outer')

In [ ]:
df_all.to_csv('C:\\Users\\Brend\\Downloads\\correlation.csv', encoding = "UTF-8")

In [ ]:
df_all[df_all.index == 'Eric S. Lander']

In [ ]:
df_plot = df_all[['profs_per_pub', 'median_AR']]
df_plot = df_plot[df_plot['median_AR'] < 50]
df_plot = df_plot[df_plot['median_AR'] > .16]
df_plot = df_plot[df_plot['profs_per_pub'] > .1]

In [ ]:
import seaborn as sns
sns.set()
sns.relplot(x="profs_per_pub", y="median_AR",  
            data=df_plot);

#### Deweighted pct_collaborative_pubs

In [22]:
# Set num_profs property for Eric Lander's publications
query = """
call apoc.periodic.iterate(
    "MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
	WHERE a.name = 'Eric S. Lander'
    WITH a, COUNT(q) AS num_pubs, COLLECT(q) AS pubs
    UNWIND pubs as pub
    MATCH (b:NatureAuthor)-[:AUTHORED]-(pub)
    WHERE b.pct_last_author > .25
    RETURN pub, COUNT(DISTINCT b.name) as num_profs",
   " SET pub.num_profs = num_profs",
 {batchSize:100, parallel:true})
"""

In [27]:
# Set num_profs property for all publications
query = """call apoc.periodic.iterate(
    "MATCH (b:NatureAuthor)-[:AUTHORED]-(pub:Quanta)
    WHERE b.pct_last_author > .25
    RETURN pub, COUNT(DISTINCT b) as num_profs",
    "SET pub.num_profs = num_profs", {batchSize:1000, parallel:true})
    """

In [1]:
# Set num_authors property for all publications
query = """call apoc.periodic.iterate(
    "MATCH (b:NatureAuthor)-[:AUTHORED]-(pub:Quanta)
    RETURN pub, COUNT(DISTINCT b) as num_authors",
    "SET pub.num_authors = num_authors", {batchSize:1000, parallel:true})
    """

Eric Lander metrics

In [9]:
# Linear-prof deweight for pct_collaborative_pubs for Eric Lander
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
	WHERE a.name = 'Eric S. Lander' AND  q.profs > 1
    WITH a, SUM(toFloat(1)/(q.num_profs - 1)) AS collab_linprof
    MATCH (a)-[:AUTHORED]-(q:Quanta)
    WITH a, COUNT(q) AS num_pubs, collab_linprof
    RETURN a.name, collab_linprof/num_pubs AS pct_collab_linprof
    """
df = query_to_df(query, graph)
df

Starting query... Done (0.01 minutes).

           a.name  pct_collab_linprof
0  Eric S. Lander            0.389683

In [10]:
# Sqrt-prof deweight for pct_collaborative_pubs for Eric Lander
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
	WHERE a.name = 'Eric S. Lander' AND  q.num_profs > 1
    WITH a, SUM(toFloat(1)/(sqrt(q.num_profs - 1))) AS collab_sqrtprof
    MATCH (a)-[:AUTHORED]-(q:Quanta)
    WITH a, COUNT(q) AS num_pubs, collab_sqrtprof
    RETURN a.name, collab_sqrtprof/num_pubs AS pct_collab_sqrtprof
    """
df = query_to_df(query, graph)
df

Starting query... Done (0.01 minutes).

           a.name  pct_collab_sqrtprof
0  Eric S. Lander             0.519778

In [11]:
# No deweight for pct_collaborative_pubs for Eric Lander
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
	WHERE a.name = 'Eric S. Lander' AND  q.num_profs > 1
    WITH a, SUM(toFloat(1)/(q.num_profs + 1 - q.num_profs)) AS collab_unweighted
    MATCH (a)-[:AUTHORED]-(q:Quanta)
    WITH a, COUNT(q) AS num_pubs, collab_unweighted
    RETURN a.name, collab_unweighted/num_pubs AS pct_collab_unweighted
    """
df = query_to_df(query, graph)
df

Starting query... Done (0.01 minutes).

           a.name  pct_collab_unweighted
0  Eric S. Lander               0.819559

In [12]:
# Sqrt-author deweight for pct_collaborative_pubs for Eric Lander
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
	WHERE a.name = 'Eric S. Lander' AND  q.num_profs > 1
    WITH a, SUM(toFloat(1)/(sqrt(q.num_authors - 1))) AS collab_sqrtauth
    MATCH (a)-[:AUTHORED]-(q:Quanta)
    WITH a, COUNT(q) AS num_pubs, collab_sqrtauth
    RETURN a.name, collab_sqrtauth/num_pubs AS pct_collab_sqrtauth
    """
df = query_to_df(query, graph)
df

Starting query... Done (0.01 minutes).

           a.name  pct_collab_sqrtauth
0  Eric S. Lander             0.341184

In [13]:
# Linear-author deweight for pct_collaborative_pubs for Eric Lander
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
	WHERE a.name = 'Eric S. Lander' AND  q.profs > 1
    WITH a, SUM(toFloat(1)/(q.num_authors - 1)) AS collab_linauth
    MATCH (a)-[:AUTHORED]-(q:Quanta)
    WITH a, COUNT(q) AS num_pubs, collab_linauth
    RETURN a.name, collab_linauth/num_pubs AS pct_collab_linauth
    """
df = query_to_df(query, graph)
df

Starting query... Done (0.01 minutes).

           a.name  pct_collab_linauth
0  Eric S. Lander            0.187796

In [15]:
# All versions of pct_collaborative_pubs for Eric Lander
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
	WHERE a.name = 'Eric S. Lander' AND q.num_profs > 1
    WITH a, 
        SUM(toFloat(1)/(q.num_profs - 1)) AS collab_linprof,
        SUM(toFloat(1)/(sqrt(q.num_profs - 1))) AS collab_sqrtprof,
        SUM(toFloat(1)/(sqrt(q.num_authors - 1))) AS collab_sqrtauth,
        SUM(toFloat(1)/(q.num_authors - 1)) AS collab_linauth,
        SUM(toFloat(1)/(q.num_profs + 1 - q.num_profs)) AS collab_unweighted
    MATCH (a)-[:AUTHORED]-(q:Quanta)
    WITH a, COUNT(q) AS num_pubs, collab_linprof, collab_sqrtauth, collab_linauth, collab_unweighted, collab_sqrtprof
    RETURN a.name, 
        collab_linprof/num_pubs AS pct_collab_linprof,
        collab_sqrtprof/num_pubs AS pct_collab_sqrtprof,
        collab_unweighted/num_pubs AS pct_collab_unweighted,
        collab_sqrtauth/num_pubs AS pct_collab_sqrtauth,
        collab_linauth/num_pubs AS pct_collab_linauth
    """
df = query_to_df(query, graph)
df

Starting query... Done (0.01 minutes).

,a.name,pct_collab_linauth,pct_collab_linprof,pct_collab_sqrtauth,pct_collab_sqrtprof,pct_collab_unweighted
0,Eric S. Lander,0.187796,0.389683,0.341184,0.519778,0.819559

All authors

In [6]:
# All versions of pct_collaborative_pubs for Eric Lander
query = """
MATCH (a:NatureAuthor)-[:AUTHORED]->(q:Quanta)
	WHERE q.num_profs > 1 AND q.num_authors > 1
    WITH a, 
        SUM(toFloat(1)/(q.num_profs - 1)) AS collab_linprof,
        SUM(toFloat(1)/(sqrt(q.num_profs - 1))) AS collab_sqrtprof,
        SUM(toFloat(1)/(sqrt(q.num_authors - 1))) AS collab_sqrtauth,
        SUM(toFloat(1)/(q.num_authors - 1)) AS collab_linauth,
        SUM(toFloat(1)/(q.num_profs + 1 - q.num_profs)) AS collab_unweighted
    MATCH (a)-[:AUTHORED]-(q:Quanta)
    WITH a, COUNT(q) AS num_pubs, collab_linprof, collab_sqrtauth, collab_linauth, collab_unweighted, collab_sqrtprof
    RETURN a.name, 
        collab_linprof/num_pubs AS pct_collab_linprof,
        collab_sqrtprof/num_pubs AS pct_collab_sqrtprof,
        collab_unweighted/num_pubs AS pct_collab_unweighted,
        collab_sqrtauth/num_pubs AS pct_collab_sqrtauth,
        collab_linauth/num_pubs AS pct_collab_linauth
    """
df = query_to_df(query, graph)
df

Starting query... Done (32.63 minutes).

,a.name,pct_collab_linauth,pct_collab_linprof,pct_collab_sqrtauth,pct_collab_sqrtprof,pct_collab_unweighted
0,Arthur Zelent,0.394172,0.506783,0.510950,0.590900,0.720930
1,Leah A. Santat,0.142857,0.500000,0.377964,0.707107,1.000000
2,Cameron D. Hinman,0.090909,0.090909,0.090909,0.090909,0.090909
3,Jan H. van Esch,0.438798,0.516393,0.498789,0.548765,0.598361
4,Karen A. Gelmon,0.033411,0.086911,0.058972,0.097572,0.115486
5,B H Briggs,0.312500,0.312500,0.312500,0.312500,0.312500
6,Anthony P. Millman,0.142857,0.142857,0.142857,0.142857,0.142857
7,J. A. Henry,0.162634,0.180108,0.199112,0.211362,0.258065
8,K. L. Kimball,0.500000,0.500000,0.707107,0.707107,1.000000
9,K Chism,0.083333,0.083333,0.166667,0.166667,0.333333
10,Barry Madore,0.050000,0.333333,0.182291,0.471405,0.666667
11,Goldman Bs,0.177778,0.237037,0.212455,0.247882,0.266667
12,Jh Zhao,0.026984,0.035714,0.062032,0.071429,0.142857
13,Samuel E. Campbell,0.059524,0.142857,0.112668,0.172444,0.214286
14,Barbara A. Wible,0.121212,0.309091,0.192155,0.309091,0.309091
15,Edwin F. Shaw,0.583333,0.750000,0.644338,0.750000,0.750000
16,Kevin D. Courtney,0.034715,0.114613,0.076238,0.141070,0.205882
17,Jens Wiebe,0.064446,0.171642,0.113703,0.187098,0.208955
18,G. T. Archer,0.105263,0.105263,0.105263,0.105263,0.105263
19,Kenneth J. Livak,0.031064,0.086316,0.064640,0.110191,0.161017
20,Naoto Nagaosa,0.265819,0.313893,0.313867,0.349024,0.404568
21,Bruce Kleger,0.191667,0.200000,0.214223,0.220711,0.250000
22,Christel Genoud,0.082091,0.208333,0.154125,0.246087,0.304348
23,Kei Nagano,0.577303,0.694627,0.670390,0.744603,0.828947
24,Mamie Yu,0.089193,0.326389,0.236969,0.442338,0.666667
25,Liang Shan,0.063023,0.094271,0.078852,0.099927,0.109170
26,Richard Broadhead,0.053333,0.166667,0.144895,0.256891,0.400000
27,Wall Pd,0.029982,0.032099,0.055308,0.057873,0.111111
28,A.H. Dahl,0.611111,0.611111,0.618782,0.618782,0.629630
29,Douglas S. Portman,0.327586,0.327586,0.334728,0.334728,0.344828
...,...,...,...,...,...,...
265017,J. D. Hamilton Dickson,0.111111,0.111111,0.111111,0.111111,0.111111
265018,Claus Rerup,0.234670,0.234838,0.335478,0.335708,0.537736
265019,Susan Bort,0.080169,0.400000,0.274582,0.579057,1.000000
265020,Miroslav Kr√°l,0.259269,0.297619,0.326701,0.357732,0.464286
265021,H. Kimura,0.199804,0.291796,0.252138,0.315925,0.357201
265022,Kenneth Tape,0.482684,0.490909,0.563675,0.573513,0.727273
265023,Thomas W. White,0.271007,0.312500,0.312994,0.340044,0.380208
265024,Xiaolong Fan,0.012964,0.036976,0.027155,0.045734,0.059603
265025,Gerard R. Miller,0.133333,0.200000,0.230940,0.282843,0.400000
265026,Alexei Redkozubov,0.035714,0.071429,0.050508,0.071429,0.071429
265027,Marc Himmelbach,0.551020,0.561224,0.584834,0.590811,0.632653
265028,Marion K. Cooney,0.031092,0.062745,0.046041,0.065616,0.070588
265029,Diana Bolotin,0.040123,0.148148,0.076939,0.148148,0.148148
265030,R. A. Cleghorn,0.093137,0.093137,0.095168,0.095168,0.098039
265031,Albrecht Werner,0.453672,0.615819,0.552836,0.660022,0.728814
265032,I. Leslie,0.448276,0.448276,0.505409,0.505409,0.586207
265033,J. Douglas Waterfield,0.397727,0.397727,0.418505,0.418505,0.454545
265034,William Watt,0.166667,0.170000,0.171547,0.174142,0.180000
265035,Inessa Hakker,0.209674,0.675758,0.407032,0.741687,0.900000
265036,Kelinda Tucker,0.003965,0.019828,0.062670,0.139892,1.000000
265037,Robin M. Bannerman,0.247159,0.291126,0.288794,0.316975,0.363636
265038,Ian F.G. King,0.055556,0.083333,0.096225,0.117851,0.166667
265039,Alan H. Colen,0.600000,0.600000,0.662132,0.662132,0.750000
265040,Fabio A. Capitanio,0.317376,0.413121,0.392189,0.450856,0.510638
265041,Thomas Briggs,0.120491,0.140693,0.153837,0.166645,0.212121
265042,V. Kottsov,0.056206,0.270408,0.191869,0.441231,0.857143
265043,Jacques Rougemont,0.052478,0.155792,0.113262,0.197115,0.275000
265044,Luis C. Ho,0.259127,0.422788,0.383061,0.505519,0.657627
265045,A. L. Hudson,0.297627,0.360219,0.477180,0.517620,0.850000
265046,Morton P. Printz,0.203201,0.242315,0.244719,0.270741,0.316667

In [7]:
df.to_csv('C:\\Users\\Brend\\Downloads\\pct_collaborative_pubs.csv', index = False, encoding = "UTF-8")

In [9]:
df_pct_collaborative_pubs = pd.read_csv('C:\\Users\\Brend\\Downloads\\pct_collaborative_pubs.csv', index_col = 'name', encoding = 'UTF-8')

In [11]:
df_percentile = df_pct_collaborative_pubs.copy()
for col in df_pct_collaborative_pubs.columns:
    percentile_col = df_pct_collaborative_pubs[pd.notna(df_pct_collaborative_pubs[col])][col]
    df_percentile[col+'_%'] = percentile_col.rank(pct=True)
df_percentile.loc[['Eric S. Lander', 'Robert Langer', 'Marvin Minsky']][[col for col in df_percentile.columns if '%' in col]]

,pct_collab_linauth_%,pct_collab_linprof_%,pct_collab_sqrtauth_%,pct_collab_sqrtprof_%,pct_collab_unweighted_%
name,,,,,
Eric S. Lander,0.611609,0.778024,0.751603,0.860225,0.919365
Robert Langer,0.907839,0.859964,0.895532,0.849876,0.781578
Marvin Minsky,0.323577,0.151996,0.194030,0.118541,0.098935